.Pokedex {
    margin-top: 50px;
}

.Pokedex .Cards{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.Pokedex .Loser {
    color: #e63946;
    font-size: 25px;
    text-transform: uppercase;
}

.Pokedex .Winner {
    color: #2a9d8f;
    font-size: 25px;
    text-transform: uppercase;
}